{% extends 'base.html' %}
{% block head %}<link href="/static/styles.css" rel='stylesheet'>{% endblock head %}
{% block title %}Sign up{% endblock title %}
{% block body %} 
<!--
<br>
<div id="login-box">
    <div class="items">
      <h1>Register</h1>
        <form action="/register" method="post"> 
        {% csrf_token %}
   
      <input type="text" name="username" placeholder="Username" />
      <input type="email" pattern="^[a-zA-Z0-9]+@iitb\.ac\.in$" name="email" placeholder="E-mail" required/>
      <input type="text" name="name" placeholder="Name" required/>
      <input type="password" name="password" pattern="(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{6,14}" placeholder="Password" required/>
      <input type="password" name="confirm_password" placeholder="Confirm your password" required/>
      
      <input type="submit" name="signup_submit" value="Register" />
      </form>
    </div>
  </div>
-->

<section class="Form my-4 mx-5">
  <div class="container">
    <div class="row g-0">
       <div class="col-lg-5">
        <img src='/static/img3.jpg' class="img-fluid" alt=''>
       </div>
       <div class="col-lg-7 px-5 pt-5">
           <center>
           <h2 class="font-weight-bold pt-5 px-5">Create Account</h2>
           <form action="/register" method="post" class='px-5'>
            {% csrf_token %}
            <div class="form-row">
              <div class="col-lg-7">
                  <input type="text"  name="username" placeholder="Username" class="form-control my-3 p-2" required>
              </div>
          </div>
               <div class="form-row">
                   <div class="col-lg-7">
                       <input type="email" title="use your LDAP ID" pattern="^[a-zA-Z0-9]+@iitb\.ac\.in$" name="email" placeholder="Email Address" class="form-control my-3 p-2" required>
                   </div>
               </div>
               <div class="form-row">
                <div class="col-lg-7">
                    <input type="text" placeholder="Name" name='name' class="form-control my-3 p-2" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7">
                    <input type="password" name="password" title="password must have atleast 1 uppercase, 1 lowercase, 1 digit and 1 special(!,@,#,$,%,^,&,*) charcter and length between 6-14" pattern="(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{6,14}" placeholder="Password" class="form-control my-3 p-2" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7">
                    <input type="password" name='confirm_password' placeholder="Confirm Password" class="form-control my-3 p-2" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7">
                 <!--   <button type="button" class="btn1 mt-3 mb-5">Sign Up</button> -->
                    <input type="submit" class="btn1 mt-3 mb-5" name="signup_submit" value="Signup" />

             
                  <p>Already have an account ? <a href="/login">Login</a></p>
              
            </div>
            </form>
            </center>

       </div>
    </div>
  </div>
</section>
 
  {% endblock body %}