


<html>
<head>

<!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <style>
      div{
          background-color: white;
          
      }
      .modal-backdrop{
          display: none;
      }

      ::placeholder {
  color: red;
  font-size: 1.3em;
}
textarea{
  font-size : 1.3em;
}

input[type=submit]{
    color:green;
    padding:0.5em 2.2em;
}     
.modal-backdrop {
   background: none;
}

  </style>

  
</head>
<body>




     <div class="row" style="height:100vh;;border:1px solid;border-bottom:2px solid ;">
         <div id='menu'class="col-sm-2" style="height:inherit; border-right:4px solid;">

            <div class="row" style="width:100%;height:30%;border:1px solid;margin:0px auto" >
                <img src='/static/pic.jpeg' class="img-fluid" alt='' style=" border-radius: 50%;
                height:80%;
                border:3px solid white;">

                <br/>
               <center> <span style="font-size: 2em;">{{user.first_name}} </span>
               </center>
            
            </div>

            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;"href="/">Discussions</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;"href="" title="This score is calculated based on predefined formula based on upvotes and downvotes received on both questions and comments">Score: 20</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;"href="/findpeople">Find people</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;"href="/notifications">Notifications</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;"href="/saveditems">Saved Items</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;"href="/updateprofile">Update Profile</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(250, 104, 104);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;" href="/logout">Logout</a></div>
            

       
         </div>
         <div class="col-sm-10" style="height:auto;">

           <div class="row" style="margin:0px auto;width:90%;height:90%;overflow:scroll ;margin-top:40px ;background-color: white; box-shadow:0px 0px 5px 1px #971c1f ;" >
           <center><h3 style="margin:0px auto;padding:0.9em;color:#971c1f;font-size:32px;font-family:Comic Sans MS">SAMVADIKA </h3></center> 

<div class="row" style="width:100%;height:90%;overflow: scroll;padding:20px;padding-top:0px;margin:0px auto">
    
    <form method="post" action="posted"><br/>
        {% csrf_token %}
       
        <textarea name="samvad" placeholder="What's on your mind, {{user}}..." required style="width:100%;padding:0.4em;height:5em;"></textarea>
        <br/> 
        <input type="submit" style="margin-top:.3em" value="Post"/>
    </form>
    

    {% for x in query %}
    
    <div  style="width:100%;height:auto;margin-top:1em">

      <div style="width:100%;height:2em;padding:.2em;background-color:gold;">
        Posted by {{ x.0.user_name}}  <span style="position: relative;float:right">{{ x.0.pub_date }} </span>
      </div>
      <div style="width:100%;height:auto;padding:1em;background-color:lightgoldenrodyellow;">
     {{x.0.question}}  
      </div>
    
    

  
   
  <div style="width:100%;height:auto;padding:.3em;background-color:lightgrey;">
  <button  class='btn btn-dark' >Like</button>  <button  class='btn btn-dark' >Dislike</button> <button  class='btn btn-dark' >Save Question</button> 
  <button type="button" class='btn btn-dark' data-backdrop='false' data-bs-toggle="modal" data-bs-target="#id_{{x.0.threadid}}" style="width: 10em;height:auto;">
    View Replies
  </button>
  </div>

</div>

    {% endfor %}
  




              </div>

           </div>
         </div>

         </div>








         {% for x in query %}
   
    <!--       Modal -->

      <div class="modal fade"  id="id_{{x.0.threadid}}" role='dialog' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"  id="exampleModalLabel"><span>Thread Id is : {{x.0.threadid}} </span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow: scroll;">

              <div style="width:100%;height:2em;padding:.2em;background-color:gold;border:2px solid;">
                Posted by {{ x.0.user_name}}  <span style="position: relative;float:right">{{ x.0.pub_date }} </span>
              </div>
              <div style="width:100%;height:auto;padding:1em;background-color:lightgoldenrodyellow;border:2px solid;border-top:none;">
                {{x.0.question}}  
                 </div>
                 <form method="post" action="answer/"><br/>
                  {% csrf_token %}
                 
                  <textarea name="ans" placeholder="Do you wanna answer, {{user}}..." required style="width:100%;padding:0.4em;height:5em;"></textarea>
                  <br/> 
                  <input type="hidden" name="threadid" value="{{x.0.threadid}}" />
                  <input type="submit" style="margin-top:.3em" value="Answer"/>
              </form>
              
               
                  {% if x.1 is not '' %}
                  {% for y in x.1 %}

                  <div style="width:100%;height:2em;padding:.2em;background-color:bisque;margin-top:1em;">
                    Replied by {{ y.user_name}}  <span style="position: relative;float:right">{{y.reply_date}} </span>
                  </div>
                  <div style="width:100%;height:auto;padding:1em;background-color:lightgrey;">
                  
                  <span> {{y.reply}} </span>
                </div>
              
              
                  {% endfor %}
              
              
                  {% endif %}


                  
                 
             
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
        
      </div>

    {% endfor %}


<!--
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
